- title = 'Forgot Password'
- provide(:title, title)
%div{class: 'max-w-xl m-auto'}
  %h1.mb-4.text-4xl= title
  %div
    = form_for(:password_reset, url: password_resets_path) do |f|
      -# = render 'shared/error_messages'

      %div.form-wrapper
        .text-left= f.label :email
        = f.email_field :email

      %div.form-button-wapper
        = f.submit 'Send'
