- provide(:title, 'Edit user')

%div{class: 'max-w-xl m-auto'}
  %h1.mb-4.text-4xl Update your profile
  %div
    = form_for(@user) do |f|
      = render 'shared/error_messages'

      %div.form-wrapper
        .text-left= f.label :name
        = f.text_field :name

      %div.form-wrapper
        .text-left= f.label :email
        = f.email_field :email

      %div.form-wrapper
        .text-left= f.label :password
        = f.password_field :password

      %div.form-wrapper
        .text-left= f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation

      %div.form-button-wapper
        = f.submit 'Save changes'

    = gravatar_for(@user)
    %a.text-blue-600.hover:underline{href: "http://gravatar.com/emails", target: "_blank", rel: 'noopener'} change
