= form_with(model: @micropost) do |f|
  = render('shared/error_messages', object: f.object)
  %div
    = f.text_area :content, placeholder: 'Compose new micropost...', class: "resize-y border rounded focus:outline-none focus:shadow-outline"
  = f.submit 'Post'
  %span.picture
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'

:javascript
  document.getElementById('micropost_picture').addEventListener('change', function(){
    const size_in_megabytes = this.files[0].size/1024/1024;
    if(size_in_megabytes > 5){
      alert('Maximum file size is 5MB, Please choose a smaller file.')
    }
  });
