!!!
%html
  %head
    %title= "#{yield(:title)} | Ruby on Rails Tutorial Sample App"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'
    .container.mx-auto.text-center
      - flash.each do |message_type, message|
        %div{class: "alert alert-#{message_type} bg-gray-400 m-5 p-5"}
          = message
      .min-h-halfscreen= yield
      = render 'layouts/footer'
    - if Rails.env.development?
      .bg-gray-400.m-6.p-5.rounded= debug(params) 
      .bg-gray-400.m-6.p-5.rounded= "admin: #{can? :access, :rails_admin}"
